/* Globale styles her */

:root{
    --primary01-color:#FFCC4A;
    --primary02-color:#4EAF4E;
    --primary03-color:#181818;
    --secondary01-color:#F5F5F5;
    --secondary02-color:#FFFFFF;

    --paragraph-lineheight: 1.475rem;
    --heading-padding-block: 1rem;

    --heading-01-fontsize: xx-large;
    --heading-02-fontsize: x-large;
    --heading-03-fontsize: large;
    --heading-04-fontsize: medium;
    --heading-05-fontsize: small;

  }

h1,
h2,
h3 {
  font-family: "Cabin", sans-serif;
  padding-block: var(--heading-padding-block);
 font-weight: 700;
}

h1{
  font-size: 50px;

}
h2{
  font-size: 45px;

}


p {
  font-family: "Lato", sans-serif;
  line-height: var(--paragraph-lineheight);
  font-weight: 400;
}
button,
a{
  font-family: "Cabin", sans-serif;
}

img{
  border-radius: 20px;

}
.bg {
    background-color: var(--primary01-color);
    letter-spacing: 2.32px;
    text-transform: uppercase;
    border-radius: 2rem;
    padding: 0px 12px;
    display: flex;
    width: fit-content;
    align-items: flex-start;
    gap: 10px;
  }

  hr {
    width: 100%;
    border: 1px solid #707070;
  }