<section>
  <div class="grid_2">
    <div>
      <p class="bg">Process</p>

      <h2>Contact Us. It's Easy,</h2>
      <p>
        Leverage agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster
        collaborative.
      </p>

      <ul>
        <li>
          <img src="../../public/images/yellowphone.svg" alt="" />
          <div>
            <p>Call yoday</p>
            <p>+1 800 100 900</p>
          </div>
        </li>

        <li>
          <img src="../../public/images/greenclock.svg" alt="" />
          <div>
            <p>Monday To Friday</p>
            <p class="fontweight">9AM - 5PM</p>
          </div>
        </li>
        <li>
          <img src="../../public/images/greypin.svg" alt="" />
          <div>
            <p>USA Office</p>
            <p>195 Devonshire St Boston, MA 02110</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="container">
      <img class="box box-1" src="../../public/images/griddame.jpg" alt="" />
      <img class="box box-2" src="../../public/images/gridtodamer.jpg" alt="" />
      <img class="box box-3" src="../../public/images/gridhander.jpg" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    .grid_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: block;
    }

    ul {
      padding-left: 0;

      li {
        display: flex;
        gap: 20px;
      }
    }
    .container {
      display: grid;
      gap: 10px;
      grid-template-areas:
        "a b"
        "a c";
    }
    .box-1 {
      grid-area: a;
    }
    .box-2 {
      grid-area: b;
    }
    .box-3 {
      grid-area: c;
    }
  }
</style>
