<section class="grid_2">
  <div>
    <h2>Contact Us. It's Easy,</h2>
    <p>
      Leverage agile frameworks to provide a robust synopsis for high level
      overviews. Iterative approaches to corporate strategy foster
      collaborative.
    </p>

    <img src="../icons/phone.svg" alt="" />
    <p>Call yoday</p>
    <p>+1 800 100 900</p>

    <img src="../icons/pin.svg" alt="" />
    <p>Monday To Friday</p>
    <p class="fontweight">9AM - 5PM</p>

    <img src="../icons/clock.svg" alt="" />
    <p>USA Office</p>
    <p>195 Devonshire St Boston, MA 02110</p>
  </div>

  <div class="collage">
    <img class="box-1" src="../../public/images/griddame.jpg" alt="" />
    <div>
      <img src="../../public/images/gridtodamer.jpg" alt="" />
      <img src="../../public/images/gridhander.jpg" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    .grid_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 14px;
    }
    .collage {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 14px;
    }
    img {
      border-radius: 20px;
      margin: 1rem;
    }
  }
</style>
