<footer>
  <div>
    <h2>AskExperts</h2>
    <hr />
    <p>
      ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy
    </p>
  </div>
</footer>

<style>
  @layer components {
    footer {
      padding: 46px 0px;
      text-align: center;
      align-items: center;
      background: var(--primary03-color);
      color: #fff;
      div {
        flex-direction: column;
        justify-content: center;
        h2 {
          font-size: 30px;
        }
      }
    }
  }
</style>
