<section>
  <div class="grid_2">
    <div>
      <img src="../../public/images/wte.jpg" alt="" />
    </div>

    <div>
      <p class="bg">We'll work with you</p>
      <h2>What To Expect</h2>
      <p>
        Our collaboration is built on transparency, efficiency, and measurable
        results. Together, we create strategies tailored to your unique needs
        and goals.
      </p>

      <ul>
        <li>
          <img src="../../public/images/greencheck.svg" alt="" />
          <p>
            Collaborate to build actionable strategies that drive sustainable
            growth and deliver tangible outcomes.
          </p>
        </li>

        <li>
          <img src="../../public/images/greencheck.svg" alt="" />
          <p>
            Identify opportunities to optimize processes and implement impactful
            solutions with measurable results.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bg {
    background-color: var(--primary01-color);
  }

  ul {
    padding-left: 0;

    li {
      display: flex;
      gap: 20px;
    }
  }
</style>
