---
import "../styles/main.css";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DIN TITEL HER. MÅSKE SOM PROP?</title>
  </head>
  <body>
    <main>
      <!-- <Header /> -->
      <slot />
      <!-- <Footer /> -->
    </main>
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns: [full-start] 1fr [content-start] minmax(0, 1000px) [content-end] 1fr [full-end];
  }

  main {
    grid-column: full;
    /* display: grid; */
    grid-template-columns: subgrid;
    > section {
      grid-column: full;
      display: grid;
      grid-template-columns: subgrid;

      > * {
        grid-column: content;
      }
    }
  }
</style>
