---
const { theme } = Astro.props;
---

<section data-theme={theme}>
  <slot />
</section>

<style>
  [data-grid="content"] {
    grid-column: content;
  }
  [data-grid="full"] {
    grid-column: full;
  }
  [data-theme="gray"] {
    background: var(--gray);
  }
</style>
